@font-face {
  font-family: "djb";
  src: url(./djb.ttf) format("truetype"); }
@font-face {
  font-family: "base";
  src: url(./base.otf) format("truetype"); }
@font-face {
  font-family: "hand1";
  src: url(./hand1.ttf) format("truetype"); }
@font-face {
  font-family: "hand2";
  src: url(./hand2.ttf) format("truetype"); }
@font-face {
  font-family: "scratchy";
  src: url(./PWScratchy.ttf) format("truetype"); }
body {
  margin: 0;
  font-family: "base", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: black; }
  body button {
    outline: none; }
  body #background {
    background: black;
    background: url(./sriracha.gif) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    z-index: -10;
    padding: 0;
    margin: 0;
    top: 0; }
  body .bar {
    position: fixed;
    height: 0px;
    background: black;
    opacity: 1;
    z-index: 20;
    width: 100%; }
    body .bar#topbar {
      top: 0; }
    body .bar#bottombar {
      bottom: 0; }
  body #container {
    margin-top: 120px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0; }
    body #container #logo {
      width: 250px;
      height: 250px; }
    body #container h1 {
      font-size: 5.2em;
      margin: 0;
      margin-top: 20px; }
    body #container h2 {
      font-size: 2.1em;
      margin: 0; }
    body #container #action button {
      font-size: 2.9em;
      padding: 0px;
      width: 230px;
      margin: 20px;
      border: 0px solid white;
      background: rgba(255, 255, 255, 0);
      border-bottom: 12px solid black;
      font-family: "hand2";
      cursor: pointer; }
      body #container #action button:hover {
        background: black;
        color: white;
        border-bottom: 12px solid white; }
  body .sales {
    width: 800px;
    padding: 50px 120px 50px 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 500px;
    margin-bottom: 10px;
    background: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 17px;
    line-height: 120%;
    opacity: 0;
    overflow: scroll;
    box-shadow: 0px 0px 50px 5px black;
    position: relative;
    display: none; }
    body .sales .back {
      position: absolute;
      top: 2px;
      left: 5px;
      font-size: 13px;
      margin-bottom: 10px;
      border: 0px solid white;
      background: white;
      border-bottom: 2px solid #631313;
      text-align: left;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      cursor: pointer;
      font-weight: bold;
      z-index: 30; }
      body .sales .back:hover {
        background: #eaeaea; }
    body .sales img {
      width: 100%; }
    body .sales h1 {
      font-family: "hand2";
      font-size: 42px;
      text-align: center;
      margin-bottom: 30px; }
    body .sales .plan {
      text-align: center;
      float: left;
      width: 31%;
      background: #CFC3A9;
      margin: 1%;
      cursor: pointer;
      border-radius: 2px;
      margin-bottom: 80px;
      -webkit-transition: all 0.088s, -webkit-transform 0.088s;
      transition: all 0.088s, transform 0.088s; }
      body .sales .plan h1 {
        font-size: 40px;
        font-family: "base"; }
      body .sales .plan h2 {
        font-size: 77px;
        font-family: "scratchy";
        margin-top: -8px;
        color: #631313;
        -webkit-transition: all 0.088s, -webkit-transform 0.088s;
        transition: all 0.088s, transform 0.088s; }
      body .sales .plan h3 {
        font-size: 32px; }
      body .sales .plan button {
        font-size: 2em;
        padding: 10px 30px 10px 30px;
        margin-bottom: 10px;
        border: 0px solid white;
        background: rgba(255, 255, 255, 0.7);
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold; }
      body .sales .plan:hover {
        background: #c2b392;
        margin-bottom: 60px; }
        body .sales .plan:hover h2 {
          font-size: 88px; }

@media screen and (min-height: 761px) {
  #logo {
    width: 300px !important;
    height: 300px !important; }

  #action button {
    font-size: 3em !important;
    padding: 10px !important; } }
@media screen and (max-height: 760px) {
  #logo {
    width: 270px !important;
    height: 270px !important; }

  #action button {
    font-size: 2.76em !important; } }
@media screen and (max-height: 700px) {
  #logo {
    width: 210px !important;
    height: 210px !important; }

  #action button {
    font-size: 2.5em !important;
    margin: 13px; } }
@media screen and (max-height: 650px) {
  #logo {
    width: 190px !important;
    height: 190px !important; }

  #action button {
    font-size: 2.1em !important; } }
@media screen and (max-width: 480px) {
  #container {
    width: 100% !important; }
    #container h1 {
      font-size: 40px !important; }
    #container h2 {
      font-size: 20px !important; }
    #container #action button {
      font-size: 2em !important; }

  .sales {
    width: calc(100% - 30px) !important;
    padding: 15px !important; }
    .sales h1 {
      font-size: 18px !important; }
    .sales .plan {
      width: 100% !important;
      margin: 0% !important;
      margin-bottom: 20px !important; }
      .sales .plan h1 {
        font-size: 48px !important; }
      .sales .plan h2 {
        font-size: 100px !important;
        -webkit-transition: all 0.0s, -webkit-transform 0.0s !important;
        transition: all 0.0s, transform 0.0s !important; }
      .sales .plan:hover {
        margin-bottom: 20px !important; }
        .sales .plan:hover h2 {
          font-size: 100px !important; } }

/*# sourceMappingURL=style.css.map */
