@font-face {
  font-family: "djb";
  src: url(./djb.ttf) format("truetype");
}
@font-face {
  font-family: "base";
  src: url(./base.otf) format("truetype");
}
@font-face {
  font-family: "hand1";
  src: url(./hand1.ttf) format("truetype");
}
@font-face {
  font-family: "hand2";
  src: url(./hand2.ttf) format("truetype");
}
@font-face {
  font-family: "scratchy";
  src: url(./PWScratchy.ttf) format("truetype");
}


$beige:#CFC3A9;
$maroon: #631313;
$light-gray: #D6D6D6;
$base: "base","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

body{
  margin:0;
  font-family:$base;
  color:black;
  #background{
    background:black;
    background: url(./sriracha.gif) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    position:fixed;
    opacity:0;
    z-index:-10;
    padding:0;
    margin:0;
    top:0;

  }

  .bar{
    position:fixed;
    height:0px;
    background:black;
    opacity:1;
    z-index:20;
    width:100%;
    &#topbar{
      top:0;
    }
    &#bottombar{
      bottom:0;
    }
  }

  #container{
    margin-top:120px;
    width:800px;
    margin-left:auto;margin-right:auto;
    text-align:center;
    opacity:0;
    #logo{
      width:250px;
      height:250px;

    }
    h1{
      font-size:5.2em;
      margin:0;
      margin-top:20px;
    }
    h2{
      font-size:2.1em;
      margin:0;

    }

    #action{
      button{
        font-size:2.9em;
        padding:0px;
        width:230px;
        margin:20px;
        border:0px solid white;
        background:rgba(255,255,255,0);
        border-bottom:12px solid black;
        font-family:"hand2";
        cursor:pointer;
        &:hover{
          background:rgba(255,255,255,0.4);
          border-bottom:12px solid lighten($maroon,14%);
        }
      }
    }

  }

  .sales{
    width:800px;
    padding:50px 120px 50px 120px;
    margin-left:auto;
    margin-right:auto;
    margin-top:500px;
    margin-bottom:10px;
    background:white;
    font-family:$helvetica;
    font-size:17px;
    line-height:120%;
    opacity:0;
    overflow:scroll;
    box-shadow:0px 0px 50px 10px black;
    border-top:18px solid $maroon;
    border-bottom:18px solid $maroon;
    position:relative;
    display:none;
    .back{
      position:absolute;
      top:0px;
      left:0px;
      font-size:14px;
      margin-bottom:10px;
      border:0px solid white;
      background:lighten($light-gray,5%);
      font-family:$helvetica;
      cursor:pointer;
      font-weight:bold;
      &:hover{
        background:$light-gray;
      }
    }

    img{
      width:100%;
    }

    h1{
      font-family:"hand2";
      font-size:42px;
      text-align:center;
      margin-bottom:30px;
    }

    .plan{
      text-align:center;
      float:left;
      width:31%;
      background:$beige;
      margin:1%;
      cursor:pointer;
      border-radius:2px;
      margin-bottom:80px;
      h1{
        font-size:40px;
        font-family:"base";
      }
      h2{
        font-size:77px;
        font-family:"scratchy";
        margin-top:-8px;
        color:$maroon;
        -webkit-transition:all 0.088s, -webkit-transform 0.088s;
        transition:all 0.088s, transform 0.088s;
      }
      h3{
        font-size:32px;
      }
      -webkit-transition:all 0.088s, -webkit-transform 0.088s;
      transition:all 0.088s, transform 0.088s;
      button{
        font-size:2em;
        padding:10px 30px 10px 30px;
        margin-bottom:10px;
        border:0px solid white;
        background:rgba(255,255,255,0.7);
        font-family:$helvetica;
        cursor:pointer;
        font-size:20px;
        font-weight:bold;
      }
      &:hover{
        background:darken($beige,7%);
        margin-bottom:60px;

        h2{
          font-size:88px;

        }
      }
    }

  }

}


//media queries and such

@media screen and (min-height: 761px) {
  #logo{
    width:300px !important;
    height:300px !important;
  }
  #action{
    button{
      font-size:3em !important;
      padding:10px !important;
    }
  }

}

@media screen and (max-height: 760px) {
  #logo{
    width:270px !important;
    height:270px !important;
  }
  #action{
    button{
      font-size:2.76em !important;
    }
  }

}
@media screen and (max-height: 700px) {
  #logo{
    width:210px !important;
    height:210px !important;
  }
  #action{
    button{
      font-size:2.5em !important;
      margin:13px;

    }
  }

}
@media screen and (max-height: 650px) {
  #logo{
    width:190px !important;
    height:190px !important;
  }
  #action{
    button{
      font-size:2.1em !important;
    }
  }
}
@media screen and (max-width: 480px) {
  #container{
    width:100% !important;
    h1{
      font-size:40px !important;
    }
    h2{
      font-size:20px !important;
    }
    #action{
      button{
        font-size:2em !important;
      }
    }
  }
  .sales{
    width:calc(100% - 30px) !important;
    padding:15px !important;

    h1{
      font-size:18px !important;
    }
    .plan{
      width:100% !important;
      h1{
        font-size:48px !important;
      }
      margin:0% !important;
      margin-bottom:20px !important;
      h2{
        font-size:100px !important;
        -webkit-transition:all 0.0s, -webkit-transform 0.0s !important;
        transition:all 0.0s, transform 0.0s !important;


      }


      &:hover{
        margin-bottom:20px !important;

        h2{
          font-size:100px !important;

        }
      }


    }
  }
}
