@font-face {
  font-family: "djb";
  src: url(./djb.ttf) format("truetype"); }
@font-face {
  font-family: "base";
  src: url(./base.otf) format("truetype"); }
@font-face {
  font-family: "hand1";
  src: url(./hand1.ttf) format("truetype"); }
@font-face {
  font-family: "hand2";
  src: url(./hand2.ttf) format("truetype"); }
@font-face {
  font-family: "scratchy";
  src: url(./PWScratchy.ttf) format("truetype"); }
body {
  margin: 0;
  border-top: 130px solid black;
  border-bottom: 100px solid black;
  font-family: "base", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: black;
  height: calc(100% - 200px); }
  body #background {
    background: black;
    background: url(./sriracha.gif) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 140%;
    position: fixed;
    opacity: 0;
    z-index: -10;
    padding: 0;
    margin: 0;
    top: 0; }
  body #container {
    margin-top: 40px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0; }
    body #container #logo {
      width: 250px;
      height: 250px; }
    body #container h1 {
      font-size: 5.5em;
      margin: 0;
      margin-top: 20px; }
    body #container h2 {
      font-size: 2.3em;
      margin: 0; }
    body #container #action button {
      font-size: 3em;
      padding: 10px;
      width: 270px;
      margin: 20px;
      border: 0px solid white;
      background: rgba(255, 255, 255, 0.7);
      border-bottom: 8px solid black;
      font-family: "hand2";
      cursor: pointer; }
      body #container #action button:hover {
        background: white;
        border-bottom: 8px solid #9f1e1e; }
  body .sales {
    width: 800px;
    padding: 50px 120px 50px 120px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 17px;
    line-height: 120%;
    display: none;
    overflow: scroll;
    box-shadow: 0px 0px 50px 10px black;
    border-top: 18px solid #631313;
    border-bottom: 18px solid #631313; }
    body .sales img {
      width: 100%; }
    body .sales h1 {
      font-family: "hand2";
      font-size: 42px;
      text-align: center;
      margin-bottom: 30px; }
    body .sales .plan {
      text-align: center;
      float: left;
      width: 31%;
      background: #CFC3A9;
      margin: 1%;
      cursor: pointer;
      border-radius: 2px;
      margin-bottom: 80px;
      -webkit-transition: all 0.1s, -webkit-transform 0.1s;
      transition: all 0.1s, transform 0.1s; }
      body .sales .plan h1 {
        font-size: 40px;
        font-family: "base"; }
      body .sales .plan h2 {
        font-size: 77px;
        font-family: "scratchy";
        margin-top: -8px;
        color: #631313;
        -webkit-transition: all 0.1s, -webkit-transform 0.1s;
        transition: all 0.1s, transform 0.1s; }
      body .sales .plan h3 {
        font-size: 32px; }
      body .sales .plan button {
        font-size: 2em;
        padding: 10px 30px 10px 30px;
        margin-bottom: 10px;
        border: 0px solid white;
        background: rgba(255, 255, 255, 0.7);
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold; }
      body .sales .plan:hover {
        background: #c2b392;
        margin-bottom: 60px; }
        body .sales .plan:hover h2 {
          font-size: 88px; }

@media screen and (max-height: 750px) {
  #logo {
    width: 220px !important;
    height: 220px !important; }

  #action button {
    font-size: 2.8em !important;
    padding: 8px !important; } }
@media screen and (max-height: 700px) {
  #logo {
    width: 200px !important;
    height: 200px !important;
    margin-top: -20px !important; }

  #action button {
    font-size: 2.5em !important;
    padding: 7px !important; } }
@media screen and (max-height: 650px) {
  #logo {
    width: 190px !important;
    height: 190px !important;
    margin-top: -28px !important; }

  #action button {
    font-size: 2em !important;
    padding: 2px !important; } }
@media screen and (max-width: 480px) {
  body {
    border-top: 0px !important;
    border-bottom: 0px !important; }

  #container {
    width: 100% !important; }
    #container h1 {
      font-size: 40px !important; }
    #container h2 {
      font-size: 20px !important; }
    #container #action button {
      font-size: 2em !important;
      padding: 2px !important; }

  .sales {
    width: calc(100% - 30px) !important;
    padding: 15px !important; }
    .sales h1 {
      font-size: 18px !important; }
    .sales .plan {
      width: 100% !important; }
      .sales .plan h1 {
        font-size: 48px !important; } }

/*# sourceMappingURL=style.css.map */
